<h1>Signup</h1>
<p>New around here huh? sign up!</p>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Placeholder" id="email" type="email" class="validate" name ='email'>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name ='firstName'>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name ='lastName'>
        <label for="last_name">Last Name</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name ='password'>
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        <input id="password_verify" type="password" class="validate" name ='password_verify'>
        <label for="password_verify">Verify Password</label>
      </div>
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" name ='username'>
        <label for="username">username</label>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <textarea id="bio" class="materialize-textarea"></textarea>
          <label for="bio">Bio</label>
        </div>
      </div>
  </div>
  </form>
</div>
