<h1><%= user.firstname%>'s PROFILE</h1>
<p><strong>Account created On:</strong> <%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY')%></p>

<div class="row">
  <div class="col s4">
     <h5>Bio: <%= user.bio %></h5>
  </div>
</div>
