<div class="jumbotron">
  <h1><%= user.firstname%>'s PROFILE</h1>
</div>




  <div class="col s12">
     <h5>Bio: <%= user.bio %></h5>
  </div>


  <div>
      <a href="/post/new" class="btn btn-primary" >post</a>
    </div>


    <div class="row">
      <div class="col s3">
        <h1><%= post.title %> <small>by <%= post.user.firstname %></small></h1>
      </div>
      <div class="col s3">
        post
      </div>
      <div class="col s3">
        post
      </div>
      <div class="col 3">
        post
      </div>
