<h3>Art for the people!</h3>

<% posts.forEach(function(p) { %>
      <div class="well">
        <h2>
          <a href="/post/<%= p.id %>"><%= p.title %></a>
          <small>by <%= p.users.firstname %></small>
        </h2>
        <p>
          <strong><%= moment(p.createdAt).calendar() %></strong>
        </p>
      </div>
    <% }) %>
