html,
body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('/images/shutterstock.jpg');
  background-size: 50%;
  color: white;
}

h1 {
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
label {
  color: black
}

#upload_widget {
  margin: 20px;
}

.form-group {
  margin: 40px;
}

.pics {
  max-width: 100%;
}
.pictures {
  width: 90%;
  margin: 10px auto;
}

.float{
  background-color: beige;
  width: 23%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  float: left;
  color: black;
  margin: 10px;
}

.btn {
  margin: 20px;
}
.btnn{
  text-align: center;
  width: 40px;
  height: 10px;
  float: right;
}
