html,
body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightblue;
  color: black;
}

h1 {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
label {
  color: black
}

#upload_widget {
  margin: 20px;
}

.form-group {
  margin: 40px;
}

.pics {
  max-width: 170px;
  max-height: 170px
}

.float{
  background-color: beige;
  width: 23%;
  height: 422px;
  padding: 5px;
  float: left;
  flex: auto;
  margin: 10px;
}

.btn {
  margin: 20px;
}
.btnn{
  text-align: center;
  width: 40px;
  height: 10px;
  float: right;
}
