html,
body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightblue;
  color: black;
}

h1 {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
label {
  color: black
}

#upload_widget {
  margin: 20px;
}

.form-group {
  margin: 40px;
  column-count: ;

}
